<h1>Country: <%= @destination.country %></h1>
<h2>City: <%= @destination.city %></h2>
<h2>Destination Created By: <%= @destination.user.username.capitalize %></h2>
<ul>
<% @attractions.each do |attraction| %>
  <li><%= attraction.site %><%= attraction.comments %></li>
  <% end %>
</ul>
<form action="/destinations/<%= @destination.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Destination">
</form>
<a href="/destinations/<%= @destination.id%>/edit">Edit Destination</a>
<a href="/destinations">Return to All Destinations</a>
